* { margin: 0; padding: 0; box-sizing: border-box;}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(34,151,164,1) 100%);
    font-family: 'Roboto', sans-serif;
}

.bg-modal {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    color: #e7e7e7;
}

.modal-content {
    position: relative;
    width: 40%;
    height: 75%;
    padding: 5px;
    background-color: rgb(29, 134, 60);
    border-radius: 5px;
    text-align: center;
}

.reveal-if-active {
    display: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.5s;
}

input[type="radio"]:last-of-type:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    transform: scale(1);
}

.register {
    position: relative;
    cursor: pointer;
}